# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner.xcodeproj/project.xcworkspace/
ios/Pods/
pubspec.lock
.melody/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
*.iml

# VS Code
.vscode/

# Xcode
DerivedData/
xcuserdata/
*.xcworkspace
*.xcuserstate

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Windows
windows/flutter/
windows/runner/ephemeral/

# Web
web/.dart_tool/
web/build/

# Firebase
**/google-services.json
**/GoogleService-Info.plist
.firebase/

# Logs & Secrets
*.log
.env
.env.*

# JetBrains (Android Studio)
.idea/

# Others
.sentryclirc
