# ------------------------------
# Flutter & Dart
# ------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
.melody/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner.xcodeproj/project.xcworkspace/
ios/Pods/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Windows
windows/flutter/
windows/runner/ephemeral/

# Web
web/.dart_tool/
web/build/

# VS Code
.vscode/

# Xcode
DerivedData/
xcuserdata/
*.xcworkspace
*.xcuserstate

# JetBrains (Android Studio / IntelliJ)
.idea/

# ------------------------------
# Firebase
# ------------------------------
**/google-services.json
**/GoogleService-Info.plist
lib/firebase_options.dart   # généré par flutterfire configure
.firebase/                  # données des émulateurs Firebase
firebase-debug.log
emulator-data/

# Firestore rules / index (on les garde dans Git !)
# firestore.rules
# firestore.indexes.json

# ------------------------------
# Firebase Functions (Node/TS)
# ------------------------------
functions/node_modules/
functions/lib/                 # build JS (sortie de tsc)
functions/.runtimeconfig.json  # ancien fichier de config sensitive
functions/.env
functions/.env.*
functions/.secret
functions/*.local.json

# ------------------------------
# Logs & Secrets
# ------------------------------
*.log
functions/.env
.env.*

# Clés & certificats sensibles
serviceAccountKey.json
*.p12
*.pem
*.key

# ------------------------------
# Others
# ------------------------------
.sentryclirc

# Cursor
.cursor/
.cursorrules

# IDE
.vscode/settings.json
.idea/workspace.xml
.idea/tasks.xml
