# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
analysis_options.yaml
*.iml

# IDEs
# Android Studio / IntelliJ
.idea/
*.iws
*.ipr
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace
ios/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Other
*.log
*.tmp
